.yo-combo {
  width: 200px;
  display: inline-block;
  padding: 2px 3px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background: #fafafa;
  color: #444;
  text-align: left;
}

.yo-combo-display {
  display: block;
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #888;
}

.yo-combo-dropdown {
  display: none;
}

.yo-combo-filter, input {
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  outline: none;
  color: #444;
  margin-bottom: 3px;
}

.yo-combo-window {
  width: 100%;
  overflow-x: hidden;
}

.yo-combo-slider {
  position: relative;
}

.yo-combo-select {
  float: left;
}

.yo-combo-value {
  background-color: transparent;
}

.yo-combo-options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.yo-combo-options li {
  padding: 3px 5px;
  cursor: pointer;
}

.yo-combo-option-selected {
  background: #3875d7;
  color: #fff;
}

.yo-combo-on .yo-combo-dropdown {
  display: block;
}
